<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>log in</title>
    <script src="https://kit.fontawesome.com/8533c91442.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="style.css">
</head>
<body style="background-image: ;">
    <div class="formBox">
        <div class="formcontainer">
            <h1>Log in</h1>
            <form action="">
                <input type="text" class="inputText" placeholder="username" required>
                <i class="fa-solid fa-user"></i><br>
                <input type="text" class="inputText" placeholder="password" required>
                <i class="fa-sharp fa-solid fa-key"></i><br>
                <input style="color: brown;"   type="submit" class="submitButton">

            </form>
        </div>
    </div>
</body>
</html>